/* Reset CSS */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* Main Styling */
html, body {
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    
}

a {
    color: #E97171;
    text-decoration: none;
}
h1,h2,h3, {
    padding-bottom: 20px;
}

p {
    margin: 10px 0px;
}
.container {
    margin: auto;
    max-width: 960px;
    overflow: auto;
    padding: 0 20px;
}
.logo {
    cursor: pointer ;
}

.text-primary {
    color: #FFCB8E;
}

.clr {
    clear: both;
}

/* Large Heading more than h1 */
.l-heading { font-size: 40px; line-height: 1.2em;}
/* Padding for top and margin */
.py-1 {padding: 10px 0;}
.py-2 {padding: 20px 0;}
.py-3 {padding: 30px 0;}

.btn {
    display: inline-block;
    background: #810000;
    color: #F5EFEF;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
     color: #000;
     background: #FFCB8E ;
}

.btn-light {
    color: #FFCB8E;
    background: #810000;
}
.bg-dark {
    color: #fff;
    background: #333;
}

.bg-light {
    color: #333;
    background: #fff;
}

.bg-primary {
    color: #333;
    background: #FFCB8E;
}
/* Navbar */

#navbar {
    background: #333;
    color: antiquewhite;
    overflow: auto;

}
#navbar a {
  color: #FFCB8E;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
 
}
#navbar ul {
    list-style: none;
    float: right;
}
#navbar ul li {
    float: left;
     
}
#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover,
/* fixed menu link */
#navbar ul li a.current {
    background: #810000;
    color: #F5EFEF;
}

/* Sweet start */

#sweet {
    background:url(../img/sweets.jpg) no-repeat center center/cover;
    height: 600px;
    
    
}
#sweet .sweet-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#sweet .sweet-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#sweet .sweet-content p {
    font-size: 18px;
}
/* Home info start */

#home-info {
    height: 400px;
}

#home-info .img-info {
    float: left;
    background: url('../img/colors.jpg') no-repeat center center/cover ;
    width: 50%;
    min-height: 100%;

}
#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
 
}

/* Features */
.box{
    width: 33.3%; 
    float: left;
    padding: 50px;
    text-align: center;
}

/* About Page */
#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;
}
#about-info .info-right img {
    display: block;
    margin: auto;
    width: 80%;
    border-radius: 50%;

}

#about-info .info-left {
    float: left;
    min-height: 100%;
    width: 50%;
}
/* Footer */
#main-footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px;

}


